<!DOCTYPE html5>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Réservation annulée</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .container {
            margin: 20px auto;
            /* padding:0px 30px; */
            width: 765px;
            height: 632px;
            border-radius: 20px;
            box-shadow: 20px 20px 50px 15px rgba(128, 128, 128, 0.221);

        }

        .color {
            width: 100%;
            height: 20px;
            background: #751F20;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            ;

        }

        .logo {
            height: 70px;
            width: 200px;
            margin: 20px auto;


        }

        img {
            width: 100%;
        }

        h3 {
            margin-bottom: 20px;
            text-align: center;
            /* text-transform: capitalize; */

        }

        .text {
            width: 60%;
            margin: 10px auto;
            font-family: Georgia, 'Times New Roman', Times, serif;
            /* margin: 0px 10px 10px 10px; */
            text-align: center;
        }

        button {
            padding: 20px 50px;
            margin: 15px;
            color: white;
            background: #751F20;
            border: none;

        }

        .about {
            margin: 15px auto;
            padding: 30px;
            border-radius: 10px;
            width: 90%;
            background: #FFF7F2;
        }

        span {
            text-transform: uppercase;
        }

        a {
            color: #751F20;
            font-style: oblique;
        }

        .sociaux {
            position: relative;
            padding: 15px;
            margin: 0 auto;
            width: 160px;
            align-items: center;

        }

        li {
            color: #751F20;
            list-style-type: none;
            margin: 0px 5px;
            float: left;
            padding: 5px;
        }

        /* MODE RESPONSIVE */
        @media only screen and (max-width: 600px) {
            .container {
                width: 90%;
            }

            .text {
                width: 80%;
            }

            .logo {
                margin-bottom: 0;
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="color"></div>
        <div class="logo"></div>
        <h3>Bonjour, </h3>
        <p class="text">
            Nous vous confirmation l'annulation de la réservation N°{{bookingCode}}.<br>
            Vous pouvez toujours réserver à nouveau sur <a href=''>blabla-train.ci</a>
            Bien à vous.
        </p>
        <div class="about">
            <p class="text">Cet e-mail est destiné à {{userFullName}} et contient des informations privées. Si vous l'avez reçu par erreur veuillez le supprimer immédiatement et nous en informer à l'adresse. <a href="">support-client@blabla-train.ci</a></p>
            <p class="text"><span> © BLABLA-TRAIN Incorporated</span></p>
            <p class="text">6 Avenue Joseph Anoma, Abidjan - Plateau</p>
            <p class="text">Téléphone: +225 01 512 800 65</p>
            <p class="text">Email: infos@blabla-train.ci</p>
            <ul class="sociaux">
                <li><a href="https://facebook.com"><img src="https://cci-file-upload-local.s3.eu-west-3.amazonaws.com/icon/facebook.png" alt=""></a></li>
                <li><a href="https://twitter.com"><img src="https://cci-file-upload-local.s3.eu-west-3.amazonaws.com/icon/twitter.png" alt=""></a></li>
                <li><a href="https://instagram.com"><img src="https://cci-file-upload-local.s3.eu-west-3.amazonaws.com/icon/Instagram.png" alt=""></a></li>
                <li><a href="https://linkedin.com"><img src="https://cci-file-upload-local.s3.eu-west-3.amazonaws.com/icon/linkedin.png" alt=""></a></li>
            </ul>
        </div>
    </div>

</body>

</html>